
#root {
  display: flex;
  justify-content: center;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 body {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
 }
 
 .buttonDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
 }

 button {
  display: block;
  padding: 10px;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  background-color: #0004ff;
  color: white;
  text-decoration: none;
  border: none;
  box-shadow: 4px 4px 5px #838383;
  transition: box-shadow .15s, background-color .15s;
  &:hover {
    background-color: #0004ffca;
  }
  &:active {
    background-color: #0004ff7f;
    box-shadow: 2px 2px 2px #838383;
  }
 }

.valueInput {
  width: 200px;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px #838383;
  &:focus {
    outline: none;
  }
}

.infoDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 25px;
  background-color: rgb(249, 249, 249);
  margin: 0 50px 0 50px;
  box-shadow: 2px 2px 4px rgb(106, 106, 106), -2px 0 4px rgb(106, 106, 106);
  width: 90vw;
}

.dataRow{
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: gray;
  padding: 5px;
  margin: 2px 0 2px 0;
  width: 100%;
  overflow-wrap: break-word;

  .dataRowField{
    display: block;
    padding: 10px 0 10px 0;
  }

  .dataRowCat {
    font-size: 25px;
  }
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;

  .intro-header {
    font-size: 50px;
  }

  .description {
    font-size: 20px;
  }

  .instructions {
    font-size: 20px;
    margin-top: 15px;
  }

  .denoms-description {
    font-size: 20px;
  }

  .denoms {
    width: 90vw;
    color : rgb(142, 87, 0);
  }
}

.dataform-wrapper {
  border-radius: 15px;
  border-width: 1px;
  margin: 20px;
  width: 90vw;
  background-color: rgb(249, 249, 249);
  box-shadow: 2px 2px 4px rgb(106, 106, 106), -2px 0 4px rgb(106, 106, 106);
}

.display-text {
  font-size: 30px;
}